@mixin stroke($color) {
    text-shadow:
        -1px -1px 0 $color,
        1px -1px 0 $color,
        -1px 1px 0 $color,
        1px 1px 0 $color;
}

/**
 * Alf styles
 * These can be toggled on and off by users in layout preview
 */
.alf-style-stikktittel {
    font-size: 22px;
    line-height: 22px;
    display: block;
    font-family: $font-main-sans !important;
    font-weight: $font-main-sans-weight !important;
    font-style: $font-main-sans-style !important;
    text-transform: none !important;
    letter-spacing: normal !important;
}

.alf-style-text-shadow-dark {
    text-shadow: 0px 0px 7px rgba(0, 0, 0 , 0.9) !important;
}

.alf-style-text-shadow-light {
    text-shadow: 0 0 8px #FFF !important;
}

.alf-style-uppercase {
    text-transform: uppercase !important;
}

.alf-style-text-shadow-strong {
    text-shadow: 0 0px 8px #000, 0 0px 8px #000 !important;
}

.alf-style-text-shadow-strong-white {
    text-shadow: 0 0px 8px #FFF, 0 0px 8px #FFF, 0 0 8px #FFF !important;
}

.alf-style-stroke-big-black {
    -webkit-text-stroke: 4px #000;
    text-stroke: 4px #000;
    @include stroke(#000);
}

.alf-style-stroke-medium-black {
    -webkit-text-stroke: 2px #000;
    text-stroke: 2px #000;
    @include stroke(#000);
}

.alf-style-stroke-small-black {
    @include stroke(#000);
}

.alf-style-stroke-big-white {
    -webkit-text-stroke: 4px #FFF;
    text-stroke: 4px #FFF;
    @include stroke(#FFF);
}

.alf-style-stroke-medium-white {
    -webkit-text-stroke: 2px #FFF;
    text-stroke: 2px #FFF;
    @include stroke(#FFF);
}

.alf-style-stroke-small-white {
    @include stroke(#FFF);
}

/**
 * Alf fonts
 * These will be available in the font dropdown
 */

.alf-font-condensed {
    font-family: $font-heading-a !important;
    font-weight: $font-heading-a-weight !important;
    font-style: $font-heading-a-style !important;
    line-height: 0.9em !important;
}

.alf-font-serif {
    font-family: $font-heading-b !important;
    font-style: $font-heading-b-style !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.alf-font-sans-serif {
    font-family: $font-main-sans !important;
    font-weight: $font-main-sans-weight !important;
    font-style: $font-main-sans-style !important;
    text-transform: none !important;
}

.alf-break {
    display: block;
    height: 0;
    line-height: 0;
}
