.byline {
    padding: 5px 0;
    border: 1px solid #D1D1D1;
    border-width: 1px 0;
    margin: 15px 0;
    font-size: 14px;
    font-family: $font-main-sans;
    font-weight: $font-main-sans-weight;
    font-style: $font-main-sans-style;

    div {
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

.byline-condensed {
    text-transform: uppercase;
    font-family: $font-heading-a;
    font-weight: $font-heading-a-weight;
    font-style: $font-heading-a-style;
}

.byline-container-big {
    float:right;
    margin:0 0 5px 2%;
    padding:10px;
    width:33%;
    background-color:#FFF;
    border:1px solid #F0F0F0;
}

.byline-container a,
.byline-container-big a {
    text-decoration:none;
}

.byline-container-big img {
    margin-bottom:10px;
}

.byline-container-big a:hover {
    text-decoration:underline;
}

.byline-container-big ul {
    margin:0;
    padding:0;
}

.byline-container-big li {
    list-style-type:none;
}

.byline-container-big .article-author {
    font-weight:700;
    white-space:normal;
}

.byline-container-big .author-social a {
    color:#19c;
}