.edition-meta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px;
}

.edition-logo {
    height: 85px;
    width: 450px;
    background: url('//static.vg.no/vgpluss/gfx/edition-logo@2x.png') center top no-repeat;
    background-size: 100%;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.65);
}

.edition-logo-flat {
    height: 91px;
    width: 450px;
    background: url('//static.vg.no/vgpluss/gfx/edition-logo-flat@2x.png') center top no-repeat;
    background-size: 100%;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.65);
}

.edition-date {
    font-family: $font-heading-a;
    font-weight: $font-heading-a-weight;
    font-size: 30px;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}

.edition-date.light {
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.tmpl-edition-front {
    .frontpage-top-left {
        top: inherit;
        bottom: 35px;
        height: auto;
    }

    .header-sans-serif h1 {
        font-size: 140px;
    }

    .header-serif h1 {
        font-size: 105px;
    }

    .hard-gradient {
        background: url('//static.vg.no/vgpluss/gfx/hardGradient.png') center center no-repeat;
        background-size: 100%;
        border-top: 2px solid rgba(255,255,255,0.5);
        width: 100%;
        padding: 50px 35px 35px;
        top: inherit;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}

