$fact-box-title-height: 44px;

.dp-fact-box {
    margin-bottom: 20px;
    border:1px solid #D1D1D1;
    background-color:#FFF;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;

    // TODO: this needs implementation
    .dp-fact-box-image {
        display: none;
    }

    .dp-fact-box-content {
        p {
            font-family: 'Open Sans', sans-serif;
            margin: 0 18px 10px;
        }
    }

    .dp-fact-box-title {
        position: relative;
        margin: 0 15px 10px 0;
        padding: 0 20px;

        background-color: #2b2b2b;
        height: $fact-box-title-height;
        line-height: $fact-box-title-height;
        display: inline-block;
        position: relative;
        left: -10px;
        z-index: 2;

        font-family: $font-main-sans;
        font-weight: $font-main-sans-weight;
        font-style: $font-main-style;
        font-size: 20px;
        text-transform: uppercase;
        color: #FFF;

        p {
            margin: 0;
            padding: 0;
            line-height: $fact-box-title-height;
            font-size: inherit;

            b {
                font-weight: $font-main-sans-weight;
            }
        }

        // Ribbon arrow
        &:before {
            @include ribbon-arrow(#2B2B2B);
        }


        // Bottom left edge
        &:after {
            @include ribbon-edge(#8c8c8c)
        }
    }
}

.alf-gt500.iphone {
    .dp-fact-box-title {
        float: left;
        font-size: 22px;
    }
}
