$fact-box-title-height: 44px;

.dp-fact-box {
    margin-bottom: 20px;
    border:1px solid #D1D1D1;
    background-color:#FFF;
    font-family: 'Open Sans', sans-serif;

    // TODO: this needs implementation
    .dp-fact-box-image {
        display: none;
    }

    .dp-fact-box-content {
        p {
            font-family: 'Open Sans', sans-serif;
            margin: 0 18px 10px;
        }
    }

    .dp-fact-box-title {
        position: relative;
        margin-top: 10px;
        margin-right: 10px;

        p {
            background-color: #2b2b2b;
            height: $fact-box-title-height;
            line-height: $fact-box-title-height;
            display: inline-block;
            position: relative;
            left: -10px;
            z-index: 2;
            float: left;
            margin: 0;
            margin-right: 10px;

            // Title
            b {
                display: block;
                line-height: $fact-box-title-height;
                margin: 0;
                padding: 0 20px;
                font-size: 20px;
                color: #FFF;
                font-family: $font-main-sans;
                font-weight: $font-main-sans-weight;
                font-style: $font-main-style;
                text-transform: uppercase;
            }

            // Ribbon arrow
            &:before {
                display: block;
                content: '';
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 22px 0 22px 14px;
                border-color: transparent transparent transparent #2B2B2B;
                position: absolute;
                right: -14px;
                float: left;
            }
        }


        // Bottom left edge
        &:after {
            display: block;
            content: '';
            position: absolute;
            border-width: 0 10px 10px 0;
            left: -10px;
            border-color: transparent #8c8c8c transparent transparent;
            top: 44px;
            z-index: 1;
            border-style: solid;
            height: 0px;
            width: 0px;
        }
    }
}

@media (min-width: 600px) {
    .iphone .dp-fact-box-title p b {
        font-size: 22px;
    }
}
