@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url(//static.vg.no/vgpluss/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url(//static.vg.no/vgpluss/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url(//static.vg.no/vgpluss/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(//static.vg.no/vgpluss/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(//static.vg.no/vgpluss/fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(//static.vg.no/vgpluss/fonts/Open_Sans_Condensed/OpenSans-CondensedBold.ttf);
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url(//static.vg.no/vgpluss/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf);
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  src: url(//static.vg.no/vgpluss/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf);
}
