@font-face {
    font-family: 'ChronicleDeck-Black';
    src: url(//static.vg.no/vgpluss/fonts/ChronicleDeck-Black.otf);
}

@font-face {
    font-family: 'Gotham-Black';
    src: url(//static.vg.no/vgpluss/fonts/Gotham-Black.otf);
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(//static.vg.no/vgpluss/fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(//static.vg.no/vgpluss/fonts/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Light';
    src: url(//static.vg.no/vgpluss/fonts/Gotham-Light.otf);
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(//static.vg.no/vgpluss/fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: 'DharmaGothicE-Bold';
    src: url(//static.vg.no/vgpluss/fonts/DharmaGothicE-Bold.otf);
}

@font-face {
    font-family: 'Palatino';
    src: url(//static.vg.no/vgpluss/fonts/palatino.ttf);
}
