a {
    color: #D00;

    &:visited {
        color: #6B6B6B;
    }

    &:hover {
        color: #D00;
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted;
    }
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
}
