.iphone-cover {
    padding: 0;
    height: 140px;
    overflow: hidden !important;

    .header-serif h1 {
        font-size: 32px;
    }

    .title {
        text-align: left;
    }

    .header-sans-serif h1 {
        font-size: 44px;
    }
}

.iphone {
    @media (min-width: 680px) {
        .alf-container-inline {
            .dp-float-left {
                float: left;
                margin-right: 20px;
            }

            .dp-float-right {
                float: right;
                margin-left: 20px;
            }

            .media-element {
                max-width: 460px;
            }
        }
    }

    &.tmpl-no-media .title {
        padding-top: 20px;
    }

    .alf-container,
    .alf-region {
        padding-left: 15px;
        padding-right: 15px;
    }

    .title {
        // Done to reset the size of parent since titles will be using ems
        font-size: 10px;
        text-align: center;

        @media (min-width: 400px) {
            font-size: 12px;
        }

        @media (min-width: 500px) {
            font-size: 13.5px;
        }

        @media (min-width: 600px) {
            font-size: 15px;
        }

        @media (min-width: 700px) {
            font-size: 16.5px;
        }

        @media (min-width: 800px) {
            font-size: 18px;
        }

        @media (min-width: 900px) {
            font-size: 20px;
        }

        // When the article is displayed on pluss.vg.no there is a sidebar 350px wide
        .layout-sidebar & {
            @media (min-width: 750px) {
                font-size: 12px;
            }

            @media (min-width: 850px) {
                font-size: 13.5px;
            }

            @media (min-width: 950px) {
                font-size: 15px;
            }

            @media (min-width: 1050px) {
                font-size: 16.5px;
            }

            @media (min-width: 1150px) {
                font-size: 18px;
            }

            @media (min-width: 1250px) {
                font-size: 20px;
            }
        }
    }



    .byline {
        padding: 8px 0;
        margin: 0 15px 10px;
    }

    .alf-container.top-image {
        margin: 0 0 20px;
        padding: 0;
        overflow: hidden;
    }

    .media-element {
        -webkit-box-orient:vertical;
        max-height: inherit;
    }

    .alf-supports-fullscreen img {
        width: 100%;
        height: auto;
    }

    .header-sans-serif h1 {
        font-size: 6em;
    }

    .header-serif h1 {
        font-size: 4.4em;
    }

    .excerpt p {
        margin: 0.75 0 1em;
    }

    .overlay-caption {
        text-shadow: none;
        position: static;
        background: none;
        color: #666;
        border-radius: 0;
        border: none !important;
        box-shadow: none;
        float: none;
        padding: 10px 5px 10px;
    }

    .no-android {
        position: absolute;
        width: 256px;
        height: 55px;
        top: 10px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: url('http://static.vg.no/vgpluss/gfx/android_no.png') no-repeat center center;
        background-size: 256px 55px;
    }

    .article-feature-header {
        position: relative;
        background: transparent;

        @media (max-width: 599px) {
            background: #000;
        }

        .title {
            color: #FFF;
        }

        @media (max-width: 599px) {
            .title {
                -webkit-transform: none !important;
                transform: none !important;
            }

            .excerpt {
                background: $main-bgcolor;
            }
        }

        @media (min-width: 600px) {
            .title {
                position: absolute;
                top: 25px;
            }

            .excerpt {
                position: absolute;
                bottom: 0;
                text-shadow: 0 0 2px #000;
                color: #FFF;
            }

        }
    }
}

.tmpl-iphone-cover-no-media .title {
    margin-top: 35px;
    text-align: center;
}
