@media (max-width: 1023px) {
    body {
        overflow-x: hidden;
    }

    .chrome {
        width: 100%;
        overflow: visible;
    }

    .alf-page-content {
        overflow: visible;
    }
}

.iphone-cover {
    padding: 0;
    height: 140px;
    overflow: hidden !important;

    .header-serif h1 {
        font-size: 32px;
    }

    .title {
        text-align: left;
    }

    .header-sans-serif h1 {
        font-size: 44px;
    }
}

.iphone {
    @media (min-width: 680px) {
        .media-element {
            max-width: 460px;
            float: left;
            margin-right: 20px;
        }
    }

    &.tmpl-no-media .title {
        padding-top: 20px;
    }

    .alf-container,
    .alf-region {
        padding-left: 15px;
        padding-right: 15px;
    }

    .title{
        text-align: center;
    }

    .byline{
        padding: 8px 0;
        margin: 0 15px 10px;
    }

    .alf-container.top-image {
        margin: 0 0 20px;
        padding: 0;
        overflow: hidden;
    }

    .media-element {
        -webkit-box-orient:vertical;
        max-height: inherit;
    }

    .alf-supports-fullscreen img {
        width: 100%;
        height: auto;
    }

    .header-sans-serif h1 {
        font-size: 60px;
    }

    .header-serif h1 {
        font-size: 44px;
    }

    .excerpt p {
        margin: 0.75 0 1em;
    }

    .overlay-caption {
        text-shadow: none;
        position: static;
        background: none;
        color: #666;
        border-radius: 0;
        border: none !important;
        box-shadow: none;
        float: none;
        padding: 10px 5px 10px;
    }

    .vg-crossword-feature {
        background: none;
        position: relative;
        width: 100%;
    }

    .no-android {
        position: absolute;
        width: 256px;
        height: 55px;
        top: 10px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: url('http://static.vg.no/vgpluss/gfx/android_no.png') no-repeat center center;
        background-size: 256px 55px;
    }

    .vg-crossword-logo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #fff;
        width: 320px;
        height: 151px;
        background: url('http://static.vg.no/vgpluss/gfx/xword-logo-smartphone.png') no-repeat center center;
        background-size: 320px 151px;
    }

    .btn-link-wrapper-crossword {
        top: 0;
        left: 0;
        position: absolute;
    }

    .btn-link-wrapper-crossword a {
        width: 130px;
    }

    .btn-link-wrapper-crossword a:before {
        content: "Spill nå";
        width: 42px;
        height: 33px;
    }

    .btn-link-wrapper-crossword a:after {
        position: absolute;
        width: 42px;
        height: 33px;
        background: url('http://static.vg.no/vgpluss/gfx/xword-icon.png') no-repeat center center;
        background-size: 42px 33px;
    }
}

.tmpl-iphone-cover-no-media .title {
    margin-top: 35px;
    text-align: center;
}
