@import "mixins/guides";

@include guides(35px, 4, 4);
@include guides(15px, 2, 2, iphone);

// All formats except iPhone has scrolling disabled
body {
    overflow: hidden;
}

// Enable vertical scrolling for iPhone in preview
.alf-preview-format-iphone {
    overflow-y: scroll;
    overflow-x: hidden;
}
