.header-section {
    font-family: $font-main-sans;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    line-height: 30px;
    font-size: 2em;
    padding: 50px 20px 18px;
    position: absolute;
    left: 35px;
    top: 0;
    color: #fff;

    span {
        background-color: rgba(0,0,0,0.4);
        margin-left: -20px;
        margin-right: -20px;
        padding: 50px 20px 15px;
    }

    &.section-ribbon {
        font-family: $font-heading-a;
        font-weight: $font-heading-a-weight;
        font-size: 22px;
        background: #FFF;
        color: #D00;
        top: 50px;
        left: 5px;
        padding: 7px 20px 7px 40px;

        span {
            background: transparent !important;

            &:before {
                color: #000;
                content: 'VERDENS GANG';
                padding-right: 6px;
            }
        }

        &:after {
            @include ribbon-arrow(#FFF);
        }

        &:before {
            @include ribbon-edge(#8c8c8c);
        }
    }
}

@mixin section-colors($color) {
    .section-ribbon {
        color: $color;
    }
    .header-section span {
        background-color: transparentize($color, 0.35);
    }
}

&.section-meninger {
    @include section-colors($colors-meninger);
}

&.section-nyheter {
    @include section-colors($colors-nyheter);
}

&.section-sistesiden {
    @include section-colors($colors-sistesiden);
}

&.section-sport {
    @include section-colors($colors-sport);
}

&.section-mat-og-drikke {
    @include section-colors($colors-mat-og-drikke);
}

&.section-meninger {
    @include section-colors($colors-meninger);
}

&.section-nyttig {
    @include section-colors($colors-nyttig);
}

&.section-oekonomi {
    @include section-colors($colors-oekonomi);
}

&.section-reise {
    @include section-colors($colors-reise);
}

&.section-rampelys {
    @include section-colors($colors-rampelys);
}

&.section-fisk-og-skalldyr {
    @include section-colors($colors-fisk-og-skalldyr);
}

&.section-sunt-og-godt {
    @include section-colors($colors-sunt-og-godt);
}

&.section-drikke {
    @include section-colors($colors-drikke);
}

&.section-soetsaker {
    @include section-colors($colors-soetsaker);
}

&.section-kjoett {
    @include section-colors($colors-kjoett);
}

&.section-vm-fakta {
    @include section-colors($colors-vm-fakta);
}

&.section-historisk {
    @include section-colors($colors-historisk);
}




&.section-sport {
    .alf-template,
    .tmpl-widescreen-frontpage .content-indent {
        background-color: #ffdfdd;
    }

    .alf-template.tmpl-fullsize-media {
        background-color: #000;
    }

    .byline {
        border-color: #DABEBC;
    }
}
