$main-bgcolor: #FAF9F5;

$line-height: 24px;
$font-size: 16px;

$font-main: 'Libre Baskerville';
$font-main-weight: 500;
$font-main-style: normal;
$font-main-color: #333;

$font-main-sans: 'Open Sans';
$font-main-sans-weight: 400;
$font-main-sans-style: normal;

$font-heading-a: 'Open Sans Condensed';
$font-heading-a-weight: 700;
$font-heading-a-style: normal;

$font-heading-b: 'Playfair Display';
$font-heading-b-weight: 900;
$font-heading-b-style: italic;

$font-heading-c: 'Playfair Display';
$font-heading-c-weight: 700;
$font-heading-c-style: italic;

$font-heading-d: 'Libre Baskerville';
$font-heading-d-weight: 700;
$font-heading-d-style: normal;

$article-max-width: 654px;

$colors-nyheter: #2560A5;
$colors-sistesiden: #353526;
$colors-sport: #E47823;
$colors-mat-og-drikke: #996633;
$colors-meninger: #F5D840;
$colors-nyttig: #E879A9;
$colors-okonomi: #444444;
$colors-reise: #660066;
$colors-rampelys: #8C0000;
$colors-fisk-og-skalldyr: #4A86E8;
$colors-sunt-og-godt: #6AA84F;
$colors-drikke: #F1C232;
$colors-soetsaker: #A61617;
$colors-kjoett: #783F04;
$colors-vm-fakta: #2560A5;
$colors-historisk: #2560A5;
