$main-bgcolor: #f5f5f5;

$font-main: 'Libre Baskerville';
$font-main-weight: 500;
$font-main-style: normal;
$font-main-color: #333;

$font-heading-a: 'Open Sans Condensed';
$font-heading-a-weight: 700;
$font-heading-a-style: normal;

$font-heading-b: 'Playfair Display';
$font-heading-b-weight: 900;
$font-heading-b-style: italic;

$font-heading-c: 'Playfair Display';
$font-heading-c-weight: 700;
$font-heading-c-style: italic;

$font-heading-d: 'Libre Baskerville';
$font-heading-d-weight: 700;
$font-heading-d-style: normal;

$article-max-width: 654px;
