<!-- Huge templates for testing -->

<div data-map="article" class="alf-template alf-grid alf-cols-3" data-name="Huge article (> 1518px)" data-filter-page-pos="1" data-media="(min-width: 1518px) and (max-width: 1941px)">
    <div class="alf-col-1 alf-colspan-2 alf-container" data-map="4x3-large 16x9-large"></div>
    <div class="alf-col-1 alf-colspan-3 alf-container alf-is-editable" data-map="title"></div>
    <div class="alf-col-1 alf-colspan-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-colspan-1 alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-col-1 alf-region alf-flex" data-map="4x3-small"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-container" data-map="4x3-small 3x4-small 16x9-small 9x16-small"></div>
    <div class="alf-container-fullscreen" data-map="4x3-large 16x9-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-3" data-name="Huge article (> 1518px)" data-filter-page-pos="!1" data-media="(min-width: 1518px) and (max-width: 1941px)">
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-region alf-flex"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-4" data-name="Huge article (> 2012px)" data-filter-page-pos="1" data-media="(min-width: 2012px) and (max-width: 2506px)">
    <div class="alf-col-1 alf-colspan-4 alf-container alf-is-editable" data-map="title"></div>
    <div class="alf-col-1 alf-colspan-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-colspan-1 alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-col-1 alf-region alf-flex" data-map="4x3-small"></div>
    <div class="alf-col-1 alf-container" data-map="4x3-small 3x4-small 16x9-small 9x16-small"></div>
    <div class="alf-col-2 alf-colspan-2 alf-container" data-map="4x3-large 16x9-large"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-region alf-flex"></div>
    <div class="alf-col-4 alf-container" data-map="4x3-small 3x4-small 16x9-small 9x16-small"></div>
    <div class="alf-col-4 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="4x3-large 16x9-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-4" data-name="Huge article (> 2012px)" data-filter-page-pos="!1" data-media="(min-width: 2012px) and (max-width: 2506px)">
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-region alf-flex"></div>
    <div class="alf-col-4 alf-region alf-flex"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-5" data-name="Huge article (> 2506px)" data-filter-page-pos="1" data-media="(min-width: 2506px)">
    <div class="alf-col-1 alf-colspan-5 alf-container alf-is-editable" data-map="title"></div>
    <div class="alf-col-1 alf-colspan-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-colspan-1 alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-col-1 alf-region alf-flex" data-map="4x3-small"></div>
    <div class="alf-col-1 alf-container" data-map="4x3-small 3x4-small 16x9-small 9x16-small"></div>
    <div class="alf-col-2 alf-colspan-2 alf-container" data-map="4x3-large 16x9-large"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-region alf-flex"></div>
    <div class="alf-col-4 alf-region alf-flex"></div>
    <div class="alf-col-5 alf-container" data-map="4x3-small 3x4-small 16x9-small 9x16-small"></div>
    <div class="alf-col-5 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="4x3-large 16x9-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-5" data-name="Huge article" data-filter-page-pos="!1" data-media="(min-width: 2506px)">
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-3 alf-region alf-flex"></div>
    <div class="alf-col-4 alf-region alf-flex"></div>
    <div class="alf-col-5 alf-region alf-flex"></div>
</div>

<!-- End huge templates -->