<!-- Start iPad edition frontpage templates

     _____        _____     ______          _______  _____      ____              __________
•   |      \     /     \    |      \        |       |     |   /      \   |\    |       |
    |       |   |       |   |       |       |       |    /   |        |  | \   |       |
|   |______/    |_______|   |       |       |___    |__ /    |        |  |  \  |       |
|   |           |       |   |       |       |       |   \    |        |  |   \ |       |
|   |           |       |   |______/        |       |    \    \ ____ /   |    \|       |

-->
<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-edition-front" data-name="Front | Condensed frontpage" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable alf-is-removable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-frontpage-with-background tmpl-edition-front" data-name="Front | Serif frontpage" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-edition-front" data-name="Front | Condensed frontpage and excerpt with gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-removable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-edition-front" data-name="Front | Serif frontpage and excerpt with gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-removable alf-is-editable excerpt" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-edition-front" data-name="Front | Serif frontpage with excerpt without gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-removable alf-is-editable alf-font-sans-serif excerpt" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-left-gradient tmpl-edition-front" data-name="Front | Condensed frontage with left gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="fill-left-half left-gradient-dark-to-light"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-serif-frontpage-with-background-and-left-gradient tmpl-edition-front" data-name="Front | Serif frontage with left gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="fill-left-half left-gradient-dark-to-light"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage tmpl-edition-front" data-name="Front | Dark Condensed frontage with" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif dark" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-serif-frontpage tmpl-edition-front" data-name="Front | Dark Serif frontage with" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-serif dark" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-left-gradient tmpl-edition-front" data-name="Front | Condensed frontage with left gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="fill-bottom-half hard-gradient">
        <div class="alf-container alf-is-editable header-sans-serif light" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-serif-frontpage-with-background-and-left-gradient tmpl-edition-front" data-name="Front | Serif frontage with left gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape_frontpage">
    <div class="alf-container no-margin" data-map="frontpage:4x3-large-media-only 4x3-large-media-only"></div>
    <div class="edition-meta">
        <div class="edition-logo-flat alf-is-draggable"></div>
        <div class="edition-date light"><div class="alf-container alf-is-editable alf-is-draggable" data-map="date-tomorrow"></div></div>
    </div>
    <div class="fill-bottom-half hard-gradient">
        <div class="alf-container alf-is-editable header-serif light" data-map="title"></div>
    </div>
</div>

<!-- End iPad edition frontpage templates
_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/

-->