<!-- Start iPad frontpage templates
     _____        _____     ______
•   |      \     /     \    |      \
    |       |   |       |   |       |
|   |______/    |_______|   |       |
|   |           |       |   |       |
|   |           |       |   |______/
-->

<div data-map="article" class="alf-template frontpage-1 tmpl-frontpage-with-background" data-name="Frontpage with background" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div>
        <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-serif" data-map="title"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-name="Condensed frontpage with background" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div>
        <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-draggable-portrait-image" data-name="Draggable portrait image" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="container-dark no-overflow">
        <div class="alf-container alf-is-draggable-x" data-map="1x1-large-media-only 9x16-large-media-only 3x4-large-media-only"></div>
    </div>
    <div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
            <div class="alf-container alf-is-draggable alf-is-optional excerpt none" data-map="excerpt"></div>
        </div>
    </div>
</div>
<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-draggable-portrait-image" data-name="Draggable portrait image (Light)" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="no-overflow">
        <div class="alf-container alf-is-draggable-x" data-map="1x1-large-media-only 9x16-large-media-only 3x4-large-media-only"></div>
    </div>
    <div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif dark" data-map="title"></div>
            <div class="alf-container alf-is-draggable alf-is-optional excerpt none" data-map="excerpt"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-name="Frontpage with background and excerpt with gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div>
        <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
        <div class="fill-bottom-half gradient-light-to-dark"></div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif textaligncenter" data-map="title"></div>
            <div class="alf-container alf-is-draggable alf-is-resizable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-name="Frontpage with background and excerpt without gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div>
        <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif textaligncenter" data-map="title"></div>
            <div class="alf-container alf-is-draggable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-excerpt-with-background" data-name="Frontpage with background and excerpt" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div>
        <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
            <div class="alf-container alf-is-draggable alf-is-editable alf-font-sans-serif excerpt" data-map="excerpt"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-gradient" data-name="Condensed frontpage with background and gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<!-- GALLERY TEMPLATES -->
<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery with gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery with excerpt" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery with excerpt and gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>
<!-- GALLERY TEMPLATE END -->

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-left-gradient" data-name="Condensed frontpage with background and left gradient " data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="fill-left-half left-gradient-dark-to-light"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-frontpage-with-background-dark-text" data-name="Frontpage with background dark text" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div>
        <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
        <div class="frontpage-top-left">
            <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
            <div class="alf-container alf-is-draggable alf-is-editable dark header-serif" data-map="title"></div>
        </div>
    </div>
</div>

<div data-map="article" class="alf-template tmpl-widescreen-frontpage" data-name="Widescreen frontpage with byline" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="alf-container alf-is-editable header-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
        <div class="alf-container alf-is-editable byline textaligncenter" data-map="byline"></div>
    </div>
</div>

<div data-map="article" class="alf-template tmpl-widescreen-frontpage" data-name="Widescreen frontpage" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="alf-container alf-is-editable header-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" data-score="10000" class="alf-template tmpl-widescreen-frontpage-dark-background" data-name="Widescreen frontpage with dark background" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="alf-container header-serif title alf-is-editable light textaligncenter" data-map="title"></div>
        <div class="alf-container excerpt light alf-is-editable textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" class="alf-template full-width tmpl-gallery tmpl-vertical-images tmpl-widescreen-frontpage-dark-background" data-score="5000" data-name="Vertical images" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="vertical-col-1">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 4x3-large-media-only 9x16-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <div class="vertical-col-2">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 4x3-large-media-only 9x16-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent textaligncenter">
        <div class="alf-container alf-is-editable header-sans-serif light title" data-map="title"></div>
        <div class="alf-container alf-is-editable alf-font-sans-serif excerpt light" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline none" data-map="byline"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-large 16x9-large 16x9-large-media-only 4x3-large 4x3-large-media-only 10x9-large 15x10-large landscape-generic-large 9x16-large 3x4-large 9x10-large 10x15-large portrait-generic-large landscape-generic-large"></div>
</div>

<div data-map="article-template-article-external" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-score="100000" data-name="Page with link button" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container alf-is-draggable no-margin" data-map="4x3-large-media-only"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-optional alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-optional excerpt light alf-is-draggable alf-is-editable textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-external" data-map="url"></div>
</div>

<!-- START ANMELDELSE -->

<div data-map="article-type-review" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-anmeldelse" data-name="Frontpage Anmeldelse (Auto-stretch)" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container-fullscreen" data-map="16x9-large-media-only 4x3-large-media-only 16x9-large 4x3-large"></div>
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-colspan-1 alignleft">
            <div class="alf-container rating-product-title" data-map="productTitle"></div>
            <div class="alf-container rating-dice alignleft" data-map="rating"></div>
            <div class="alignleft alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
            <div class="clear"></div>
            <div class="alf-container byline" data-map="byline"></div>
        </div>
        <div class="alf-colspan-1 alignright alf-container" data-map="16x9-small-media-only 4x3-small-media-only"></div>
    </div>
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container header-serif title alf-is-editable alf-stretch-to-fit" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <hr>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article-type-review" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-anmeldelse" data-name="Frontpage Anmeldelse" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container-fullscreen" data-map="16x9-large-media-only 4x3-large-media-only 16x9-large 4x3-large"></div>
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-colspan-1 alignleft">
            <div class="alf-container rating-product-title" data-map="productTitle"></div>
            <div class="alf-container rating-dice alignleft" data-map="rating"></div>
            <div class="alignleft alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
            <div class="clear"></div>
            <div class="alf-container byline" data-map="byline"></div>
        </div>
        <div class="alf-colspan-1 alignright alf-container" data-map="16x9-small-media-only 4x3-small-media-only"></div>
    </div>
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <hr>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article-type-review" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-anmeldelse-quadratic" data-name="Frontpage Anmeldelse Quadratic (Auto stretch)" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container-fullscreen" data-map="landscape-generic-large portrait-generic-large"></div>
    <div class="alf-col-1">
        <div class="alf-container rating-product-title" data-map="productTitle"></div>
        <div class="alf-container rating-dice alignleft" data-map="rating"></div>
        <div class="alignleft alf-font-sans-serif product-details">
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
        </div>
        <div class="clear"></div>
        <div class="alf-container header-sans-serif title alf-is-editable alt-stretch-to-fit" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-container" data-map="landscape-generic-large portrait-generic-large"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article-type-review" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-anmeldelse-quadratic" data-name="Frontpage Anmeldelse Quadratic" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container-fullscreen" data-map="landscape-generic-large portrait-generic-large"></div>
    <div class="alf-col-1">
        <div class="alf-container rating-product-title" data-map="productTitle"></div>
        <div class="alf-container rating-dice alignleft" data-map="rating"></div>
        <div class="alignleft alf-font-sans-serif product-details">
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
        </div>
        <div class="clear"></div>
        <div class="alf-container header-sans-serif title alf-is-editable" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-container" data-map="landscape-generic-large portrait-generic-large"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article-type-review" class="alf-template tmpl-widescreen-frontpage tmpl-frontpage-anmeldelse-2" data-name="Frontpage Anmeldelse - 2" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="rating-box gradient-light-to-dark light alf-style-text-shadow-dark">
            <div class="alf-container rating-product-title" data-map="productTitle"></div>
            <div class="alf-container rating-dice alignleft" data-map="rating"></div>
            <div class="alignleft alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
        </div>
        <div class="alf-container alf-is-editable header-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article-type-review" class="alf-template tmpl-widescreen-frontpage-dark-background tmpl-frontpage-anmeldelse-2" data-name="Frontpage Anmeldelse - 2 dark" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent">
        <div class="rating-box gradient-light-to-dark light alf-style-text-shadow-dark">
            <div class="alf-container rating-product-title" data-map="productTitle"></div>
            <div class="alf-container rating-dice alignleft" data-map="rating"></div>
            <div class="alignleft alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
        </div>
        <div class="alf-container alf-is-editable header-serif light title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable light excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>

<!-- END ANMELDELSE -->


<!-- VG MENER -->

<div data-map="article-type-editorial" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-vg-mener" data-name="Frontpage VG Mener" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container excerpt" data-map="excerpt"></div>
        </div>
        <div class="vg-mener alignright">
            <div class="vg-mener-image"></div>
        </div>
        <hr class="clear">
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 4x3-small-media-only"></div>
    </div>
    <div class="alf-col-1 alf-colspan-2 colophon alf-font-sans-serif">
        <div class="alf-container alf-is-optional byline none alf-col-2" data-map="byline"></div>
        <div class="alf-colspan-1 alignleft">
            <div class="vg-logo-vertical"></div>
            <div class="">
                <p>VG+ utgis av <b>VG Mobil AS</b><br>
                Telefon: <b>22 00 00 00</b><br>
                Adm. direktør VG Mobil AS: <b>Tor Jacobsen</b><br>
                Redaksjonssjef VG Mobil AS: <b>Espen Olsen Langfeldt</b></p>
            </div>
        </div>
        <div class="alf-colspan-1 alignright">
            <div class="">
                <p>Ans. redaktør og adm. direktør VG: <b>Torry Pedersen</b><br>
                Politisk redaktør: <b>Hanne Skartveit</b><br>
                Redaktører VG: <b>Espen Egil Hansen og Helje Solberg</b><br>
                Utviklet i samarbeid med <i>Agens AS</i> og <i>Aptoma AS</i>
                </p>
            </div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large"></div>
</div>

<div data-map="article-type-editorial article-type-comment" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-gradient tmpl-frontpage-vg-mener" data-name="Frontpage VG Mener" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-is-draggable alf-is-removable vg-mener-image-white"></div>
    </div>
</div>

<div data-map="article-type-editorial article-type-comment" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-gradient tmpl-frontpage-vg-mener" data-name="Frontpage VG Mener with gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-is-draggable alf-is-removable vg-mener-image-white"></div>
    </div>
</div>
<div data-map="article-type-editorial article-type-comment" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-gradient tmpl-frontpage-vg-mener" data-name="Frontpage VG Mener with gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <div class="frontpage-top-left">
        <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-is-draggable alf-is-removable vg-mener-image-white with_background"></div>
    </div>
</div>

<div data-map="article-type-editorial article-type-comment" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-vg-mener-with-text-only" data-name="Frontpage VG Mener with text only" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container excerpt" data-map="excerpt"></div>
        </div>
        <div class="vg-mener alignright">
            <div class="vg-mener-image"></div>
        </div>
        <hr class="clear">
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-1 alf-colspan-2 colophon alf-font-sans-serif">
        <div class="alf-container alf-is-optional byline none alf-col-2" data-map="byline"></div>
        <div class="alf-colspan-1 alignleft">
            <div class="vg-logo-vertical"></div>
            <div class="">
                <p>VG+ utgis av <b>VG MOBIL AS</b><br>
                Telefon: <b>22 00 00 00</b><br>
                Adm. direktør VG Mobil AS: <b>Tor Jacobsen</b><br>
                Redaksjonssjef VG Mobil AS: <b>Espen Olsen Langfeldt</b></p>
            </div>
        </div>
        <div class="alf-colspan-1 alignright">
            <div class="">
                <p>Ans. redaktør og adm. direktør VG: <b>Torry Pedersen</b><br>
                Politisk redaktør: <b>Hanne Skartveit</b><br>
                Redaktører VG: <b>Espen Egil Hansen og Helje Solberg</b><br>
                Utviklet i samarbeid med <i>Agens AS</i> og <i>Aptoma AS</i>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- END VG MENER -->

<!-- MENINGER WITH AUTHOR IMAGE -->

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-author-image" data-score="1000" data-name="Frontpage Author Image" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        </div>
        <div class="alf-container author-image alignright" data-map="author-image-small"></div>
        <div class="alf-container byline clear" data-map="byline">
            <div class="vg-logo-small"></div>
        </div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 4x3-small-media-only"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large"></div>
</div>


<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-author-image" data-score="1000" data-name="Frontpage Author Image (auto stretch)" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable alf-stretch-to-fit" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        </div>
        <div class="alf-container author-image alignright" data-map="author-image-small"></div>
        <div class="alf-container byline clear" data-map="byline">
            <div class="vg-logo-small"></div>
        </div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 4x3-small-media-only"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-author-image tmpl-frontpage-with-text-only" data-name="Frontpage with text only and Author Image" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container excerpt" data-map="excerpt"></div>
        </div>
        <div class="alf-container author-image alignright" data-map="author-image-small"></div>
        <div class="alf-container byline clear" data-map="byline">
            <div class="vg-logo-small"></div>
        </div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<!-- END AUTHOR IMAGE -->

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-generic" data-name="Frontpage generic" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 4x3-small-media-only 1x1-small-media-only"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-generic" data-name="Frontpage generic (auto stretch)" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container alf-is-editable alf-stretch-to-fit header-serif title " data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 4x3-small-media-only 1x1-small-media-only"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-small-image" data-name="Frontpage with small image" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2 alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-col-1 alf-container excerpt" data-map="excerpt"></div>
    <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-flex no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="3x4-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="3x4-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-small-image auto-stretch" data-name="Frontpage with small image (Auto Stretch)" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2 alf-container alf-is-editable alf-stretch-to-fit header-serif title" data-map="title"></div>
    <div class="alf-col-1 alf-container excerpt" data-map="excerpt"></div>
    <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-flex no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="3x4-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="3x4-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-text-only" data-name="Frontpage with text only" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2 article-header-top">
        <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-text-only" data-name="Frontpage with text only (auto stretch)" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2 article-header-top">
        <div class="alf-container alf-is-editable alf-stretch-to-fit header-serif title " data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<!-- DAGENS RUTE -->
<div data-map="article-template-article-media-only" class="alf-template tmpl-dagens-rute dagens-rute-dark" data-name="Dagens Rute dark" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin container-dark" data-map="portrait-generic-large portrait-generic-small"></div>
    <div class="frontpage-top-left">
        <div class="alf-container header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article-template-article-media-only" class="alf-template tmpl-dagens-rute dagens-rute-light" data-name="Dagens Rute light" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin" data-map="portrait-generic-large portrait-generic-small"></div>
    <div class="frontpage-top-left">
        <div class="alf-container header-sans-serif dark" data-map="title"></div>
    </div>
</div>
<!-- END DAGENS RUTE -->

<!-- End iPad frontpage templates

_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/

-->