<!-- Start iPhone templates
     _____                    _____               _______
•   |      \    |       |    /     \    |\    |   |
    |       |   |       |   |       |   | \   |   |
|   |______/    |_______|   |       |   |  \  |   |_____
|   |           |       |   |       |   |   \ |   |
|   |           |       |    \_____/    |    \|   |______
-->
<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-no-media" data-name="Title on top, no media" data-filter-format-name="iphone">
    <div class="article-body">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article-type-editorial" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top (VG mener)" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-large-media-only *-generic-large-media-only"></div>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article-type-editorial" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top 2 (VG mener)" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-large-media-only *-generic-large-media-only"></div>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white with_background"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-large-media-only *-generic-large-media-only"></div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top (serif)" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-large-media-only *-generic-large-media-only"></div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-gradient-bg tmpl-overlay" data-name="Image with gradient" data-filter-format-name="iphone">
    <div class="container-dark relative">
        <div class="alf-container top-image" data-map="1x1-large-media-only 3x4-large-media-only 9x16-large-media-only"></div>
        <div class="overlay overlay-bottom gradient-light-to-dark">
            <div class="alf-container header-sans-serif title alf-is-editable" data-map="title"></div>
        </div>
    </div>
    <div class="article-body">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<!-- Dagens Rute -->
<div data-map="article-template-article-media-only" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-dagens-rute tmpl-dagens-rute-black" data-name="Dagens Rute iPhone Black" data-filter-format-name="iphone">
    <div class="alf-container header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container top-image" data-map="portrait-generic-large portrait-generic-small"></div>
</div>

<div data-map="article-template-article-media-only" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-dagens-rute" data-name="Dagens Rute iPhone" data-filter-format-name="iphone">
    <div class="alf-container header-sans-serif title dark" data-map="title"></div>
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container top-image" data-map="portrait-generic-large portrait-generic-small"></div>
</div>

<!-- END Dagens Rute -->

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay tmpl-white-bg" data-name="Image with white background" data-filter-format-name="iphone">
    <div class="relative">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-large-media-only 3x4-large-media-only 9x16-large-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-sans-serif alf-is-editable title dark" data-map="title"></div>
        </div>
    </div>
    <div class="article-body">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay tmpl-white-bg" data-name="Image with white background and excerpt" data-filter-format-name="iphone">
    <div class="relative">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-large-media-only 3x4-large-media-only 9x16-large-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-serif alf-is-editable title dark" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt dark article-max-width" data-map="excerpt"></div>
        </div>
    </div>
    <div class="article-body">
        <div class="alf-container alf-is-editable byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>>
</div>

<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline no-caption" data-map="*-small *-slim-small *-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline no-caption" data-map="*-small *-slim-small *-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<!-- External link template -->
<div data-map="article-template-article-external" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container alf-is-draggable top-image no-caption" data-map="*-large-media-only"></div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-external" data-map="url"></div>
    <div class="alf-container alf-is-editable alf-is-draggable header-sans-serif title" data-map="title"></div>
</div>

<!-- Xword -->
<div data-map="article-template-article-external" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Crossword" data-filter-format-name="iphone">
    <div class="vg-crossword-feature">
        <div class="alf-container alf-is-draggable top-image no-caption" data-map="*-large-media-only"></div>
        <div class="vg-crossword-logo alf-is-draggable alf-is-removable"></div>
    </div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-crossword" data-map="url"></div>
    <div class="alf-container alf-is-editable alf-is-draggable header-sans-serif title" data-map="title"></div>
</div>

<!-- End iPhone templates
_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/
-->
