<!-- Start iPhone templates
     _____                    _____               _______
•   |      \    |       |    /     \    |\    |   |
    |       |   |       |   |       |   | \   |   |
|   |______/    |_______|   |       |   |  \  |   |_____
|   |           |       |   |       |   |   \ |   |
|   |           |       |    \_____/    |    \|   |______
-->
<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-no-media" data-name="Title on top, no media" data-filter-format-name="iphone">
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>

<div data-map="article-type-editorial" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="3x4-small-media-only 4x3-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>

<div data-map="article-type-editorial" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="3x4-small-media-only 4x3-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white with_background"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="3x4-small-media-only 4x3-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>


<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top (serif)" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-gradient-bg" data-name="Image with gradient" data-filter-format-name="iphone">
    <div class="fill-height container-dark max-height fill-width">
        <div class="alf-container top-image" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom gradient-light-to-dark">
            <div class="alf-container header-sans-serif title alf-is-editable" data-map="title"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div>
<!--
<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay tmpl-black-bg" data-name="Image with black background" data-filter-format-name="iphone">
    <div class="fill-height container-dark max-height fill-width">
        <div class="alf-container top-image alf-is-draggable-y" data-map="3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom black-background">
            <div class="alf-container header-sans-serif title alf-is-editable" data-map="title"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
</div>
-->


<!-- Dagens Rute -->
<div data-map="article-template-article-media-only" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-dagens-rute tmpl-dagens-rute-black" data-name="Dagens Rute iPhone Black" data-filter-format-name="iphone">
    <div class="alf-container header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container top-image" data-map="portrait-generic-large portrait-generic-small"></div>
    <!--<div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>-->
</div>

<div data-map="article-template-article-media-only" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-dagens-rute" data-name="Dagens Rute iPhone" data-filter-format-name="iphone">
    <div class="alf-container header-sans-serif title dark" data-map="title"></div>
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container top-image" data-map="portrait-generic-large portrait-generic-small"></div>
    <!--<div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>-->
</div>

<!-- END Dagens Rute -->

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay tmpl-white-bg" data-name="Image with white background" data-filter-format-name="iphone">
    <div class="fill-height max-height fill-width">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-sans-serif alf-is-editable title dark" data-map="title"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>
<!--
<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay-with-excerpt tmpl-black-bg" data-name="Image with black background and excerpt" data-filter-format-name="iphone">
    <div class="fill-height max-height container-dark">
        <div class="alf-container top-image alf-is-draggable-y" data-map="3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom black-background">
            <div class="alf-container header-serif alf-is-editable title" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
</div>
-->

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay-with-excerpt tmpl-white-bg" data-name="Image with white background and excerpt" data-filter-format-name="iphone">
    <div class="fill-height max-height">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-serif alf-is-editable title dark" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt dark" data-map="excerpt"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible">
            <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline no-caption" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline no-caption" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<!-- External link template -->
<div data-map="article-template-article-external" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container alf-is-draggable top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-external" data-map="url"></div>
    <div class="alf-container alf-is-editable alf-is-draggable header-sans-serif title" data-map="title"></div>
</div>

<!-- ANMELDELSE START -->
<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only landscape-generic-small portrait-generic-small">
        <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
    </div>
    <div class="alf-container rating-product-title" data-map="productTitle"></div>
    <div class="alf-font-sans-serif product-details">
        <div class="alf-container rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
        <div class="alf-container rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
        <div class="alf-container rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
    </div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only landscape-generic-small portrait-generic-small">
        <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
    </div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-container rating-product-title" data-map="productTitle"></div>
    <div class="alf-font-sans-serif product-details">
        <div class="alf-container rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
        <div class="alf-container rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
        <div class="alf-container rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
    </div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review with quadratic image" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="1x1-large landscape-generic-large portrait-generic-large">
        <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
    </div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-container rating-product-title" data-map="productTitle"></div>
    <div class="alf-font-sans-serif product-details">
        <div class="alf-container rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
        <div class="alf-container rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
        <div class="alf-container rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
    </div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>

<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only">
        <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
    </div>
    <div class="alf-container rating-product-title" data-map="productTitle"></div>
    <div class="alf-font-sans-serif product-details">
        <div class="alf-container rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
        <div class="alf-container rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
        <div class="alf-container rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
    </div>
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small portrait-slim-small landscape-slim-small landscape-generic-small portrait-generic-small 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
</div>


<!-- END ANMELDELSE -->

<!-- End iPhone templates
_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/
-->