<!-- Start iPhone Cover templates
     _____                    _____               _______         _____      _____                   _______    ______
•   |      \    |       |    /     \    |\    |   |              /     \    /     \   \          /   |          |     \
    |       |   |       |   |       |   | \   |   |             |          |       |   \        /    |          |      |
|   |______/    |_______|   |       |   |  \  |   |_____        |          |       |    \      /     |_____     |_____/
|   |           |       |   |       |   |   \ |   |             |          |       |     \    /      |          |   \
|   |           |       |    \_____/    |    \|   |______        \_____/    \_____/       \__/       |_______   |     \
-->

<div data-map="article article-template-article-external article-template-article-gallery" class="alf-template iphone iphone-cover tmpl-iphone-cover" data-name="iPhone Cover with sans-serif" data-filter-format-name="iphone_section_cover">
    <div class="alf-container alf-is-draggable-y top-image" data-map="section:1x1-small-media-only section:4x3-small-media-only section:16x9-small-media-only section:landscape-generic-small-media-only section:landscape-slim-large-media-only 1x1-small-media-only 4x3-small-media-only 16x9-small-media-only landscape-generic-small-media-only landscape-slim-large-media-only"></div>
    <div class="overlay-bottom alf-is-draggable">
        <div class="alf-container alf-is-editable header-sans-serif title light" data-map="title"></div>
    </div>
</div>

<div data-map="article article-template-article-external article-template-article-gallery" class="alf-template iphone iphone-cover tmpl-iphone-cover" data-name="iPhone Cover with sans-serif and gradient background" data-filter-format-name="iphone_section_cover">
    <div class="alf-container alf-is-draggable-y top-image" data-map="section:1x1-small-media-only section:4x3-small-media-only section:16x9-small-media-only section:landscape-generic-small-media-only section:landscape-slim-large-media-only 1x1-small-media-only 4x3-small-media-only 16x9-small-media-only landscape-generic-small-media-only landscape-slim-large-media-only"></div>
    <div class="overlay overlay-bottom gradient-light-to-dark">
        <div class="alf-container header-sans-serif title alf-is-editable alf-is-draggable" data-map="title"></div>
    </div>
</div>

<div data-map="article article-template-article-external article-template-article-gallery" class="alf-template iphone iphone-cover tmpl-iphone-cover" data-name="iPhone Cover with serif" data-filter-format-name="iphone_section_cover">
    <div class="alf-container alf-is-draggable-y top-image" data-map="section:1x1-small-media-only section:4x3-small-media-only section:16x9-small-media-only section:landscape-generic-small-media-only section:landscape-slim-large-media-only 1x1-small-media-only 4x3-small-media-only 16x9-small-media-only landscape-generic-small-media-only landscape-slim-large-media-only"></div>
    <div class="overlay-bottom alf-is-draggable">
        <div class="alf-container alf-is-editable header-serif title light" data-map="title"></div>
    </div>
</div>

<div data-map="article article-template-article-external article-template-article-gallery" class="alf-template iphone iphone-cover tmpl-iphone-cover" data-name="iPhone Cover with sans-serif and gradient background" data-filter-format-name="iphone_section_cover">
    <div class="alf-container alf-is-draggable-y top-image" data-map="section:1x1-small-media-only section:3x4-small-media-only section:9x16-small-media-only section:portrait-generic-small-media-only section:portrait-slim-small-media-only 1x1-small-media-only 3x4-small-media-only 9x16-small-media-only portrait-generic-small-media-only portrait-slim-small-media-only"></div>
    <div class="overlay overlay-bottom gradient-light-to-dark">
        <div class="alf-container header-sans-serif title alf-is-editable alf-is-draggable" data-map="title"></div>
    </div>
</div>

<div data-map="article article-template-article-external article-template-article-gallery" class="alf-template iphone iphone-cover tmpl-iphone-cover" data-name="iPhone Cover with serif and gradient background" data-filter-format-name="iphone_section_cover">
    <div class="alf-container alf-is-draggable-y top-image" data-map="section:1x1-small-media-only section:4x3-small-media-only section:16x9-small-media-only section:landscape-generic-small-media-only section:landscape-slim-large-media-only 1x1-small-media-only 4x3-small-media-only 16x9-small-media-only landscape-generic-small-media-only landscape-slim-large-media-only"></div>
    <div class="overlay overlay-bottom gradient-light-to-dark">
        <div class="alf-container header-serif title alf-is-editable alf-is-draggable" data-map="title"></div>
    </div>
</div>

<div data-map="article article-template-article-external article-template-article-gallery" class="alf-template iphone iphone-cover tmpl-iphone-cover" data-name="iPhone Cover with serif" data-filter-format-name="iphone_section_cover">
    <div class="alf-container alf-is-draggable-y top-image" data-map="section:1x1-small-media-only section:4x3-small-media-only section:16x9-small-media-only section:landscape-generic-small-media-only section:landscape-slim-large-media-only 1x1-small-media-only 4x3-small-media-only 16x9-small-media-only landscape-generic-small-media-only landscape-slim-large-media-only"></div>
    <div class="overlay-bottom alf-is-draggable">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    </div>
</div>
<div data-map="article article-template-article-external article-template-article-gallery" class="alf-template iphone iphone-cover tmpl-iphone-cover dark-background tmpl-iphone-cover-no-media" data-name="iPhone Cover - no media" data-filter-format-name="iphone_section_cover">
    <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title light" data-map="title"></div>
</div>



<!-- End iPhone cover templates
_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/
-->



