<!-- <div
    data-name="Image on top"
    data-map="article-type-editorial"
    class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top"
    data-filter-format-name="iphone"
    >
    <div class="alf-container top-image">
        <source data-map="3x4-small-media-only 4x3-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only">
        <source data-size="600w" data-map="3x4-small-media-only 4x3-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only">
    </div>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white with_background"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="1x1-small 4x3-small 3x4-small 16x9-small 9x16-small 1x1-small portrait-slim-small landscape-slim-small portrait-generic-small landscape-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-small-media-only 4x3-small-media-only 3x4-small-media-only 16x9-small-media-only 9x16-small-media-only portrait-slim-small-media-only landscape-slim-small-media-only portrait-generic-small-media-only landscape-generic-small-media-only"></div>
</div> -->

<div data-map="article" class="alf-template alf-is-responsive iphone iphone-portrait" data-name="Responsive" data-filter-format-name="iphone">
    <div class="article-feature-header">
        <div class="alf-container top-image" data-map="*-large-media-only *-generic-large-media-only"></div>
        <div class="alf-container alf-is-editable alf-is-draggable header-sans-serif title" data-map="title"></div>
    </div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>
