<div data-map="article" class="alf-template alf-is-responsive iphone iphone-portrait" data-name="Responsive" data-filter-format-name="iphone">
    <div class="article-feature-header">
        <div class="alf-container top-image" data-map="*-large-media-only *-generic-large-media-only"></div>
        <div class="alf-container alf-is-editable alf-is-draggable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    </div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>
