<!-- Dagens Rute -->
<div data-map="article-template-article-media-only" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-dagens-rute tmpl-dagens-rute-black" data-name="Dagens Rute iPhone Black" data-filter-format-name="iphone">
    <div class="alf-container header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container top-image" data-map="portrait-generic-large portrait-generic-small"></div>
</div>

<div data-map="article-template-article-media-only" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-dagens-rute" data-name="Dagens Rute iPhone" data-filter-format-name="iphone">
    <div class="alf-container header-sans-serif title dark" data-map="title"></div>
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container top-image" data-map="portrait-generic-large portrait-generic-small"></div>
</div>

<!-- END Dagens Rute -->