<div data-name="Image on top (VG mener)"
    data-map="article-type-editorial"
    class="alf-template supports-panorama iphone iphone-portrait alf-is-responsive tmpl-image-on-top"
    data-filter-format-name="iphone">
    <div class="relative top-image-wrapper">
        <div class="alf-container top-image" data-type="image" data-map="*-large *-generic-large" data-select="img"></div>
        <div class="alf-is-draggable alf-is-removable vg-mener-image-white"></div>
    </div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline panorama" data-map="*-large *-slim-large *-generic-large" data-match=".dp-image-size-panorama"></div>
            <div class="alf-container-inline full-width" data-map="*-small *-slim-small *-generic-small" data-match=".dp-float-left, .dp-float-right"></div>
            <div class="alf-container-inline full-width" data-map="*-large *-slim-large *-generic-large"></div>>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-name="Image on top 2 (VG mener)"
    data-map="article-type-editorial"
    class="alf-template supports-panorama iphone iphone-portrait alf-is-responsive tmpl-image-on-top"
    data-filter-format-name="iphone">
    <div class="relative top-image-wrapper">
        <div class="alf-container top-image" data-type="image" data-map="*-large *-generic-large" data-select="img"></div>
        <div class="alf-is-draggable alf-is-removable vg-mener-image-white with_background"></div>
    </div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline panorama" data-map="*-large *-slim-large *-generic-large" data-match=".dp-image-size-panorama"></div>
            <div class="alf-container-inline full-width" data-map="*-small *-slim-small *-generic-small" data-match=".dp-float-left, .dp-float-right"></div>
            <div class="alf-container-inline full-width" data-map="*-large *-slim-large *-generic-large"></div>>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

