<div data-map="article-type-editorial" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-small-media-only *-generic-small-media-only"></div>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article-type-editorial" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-small-media-only *-generic-small-media-only"></div>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white with_background"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>