<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline no-caption" data-map="*-small *-slim-small *-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-optional alf-is-removable excerpt dark" data-map="excerpt"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline no-caption" data-map="*-small *-slim-small *-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>
