<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-title-on-top tmpl-no-media" data-name="Title on top, no media" data-filter-format-name="iphone">
    <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top" data-name="Image on top" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-small-media-only *-generic-small-media-only"></div>
    <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
    <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline" data-map="byline"></div>
    <div class="alf-region alf-region-flexible vg-pay">
        <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-gradient-bg" data-name="Image with gradient" data-filter-format-name="iphone">
    <div class="fill-height container-dark max-height fill-width">
        <div class="alf-container top-image" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom gradient-light-to-dark">
            <div class="alf-container header-sans-serif title alf-is-editable" data-map="title"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay tmpl-white-bg" data-name="Image with white background" data-filter-format-name="iphone">
    <div class="fill-height max-height fill-width">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-sans-serif alf-is-editable title dark" data-map="title"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>>
</div>

<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-overlay-with-excerpt tmpl-white-bg" data-name="Image with white background and excerpt" data-filter-format-name="iphone">
    <div class="fill-height max-height fill-width">
        <div class="alf-container top-image alf-is-draggable-y" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only"></div>
        <div class="overlay overlay-bottom white-background">
            <div class="alf-container header-serif alf-is-editable title dark" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt dark" data-map="excerpt"></div>
        </div>
    </div>
    <div class="offset-height offset-top fill-width">
        <div class="alf-container alf-is-editable byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>>
</div>