<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-type="image" data-map="*-large *-generic-large" data-select="img"></div>
    <div class="article-body">
        <div class="article-body-inner">
            <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
            <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
            <div class="alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
        </div>
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>>
</div>

<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review 2" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-type="image" data-map="*-large *-generic-large" data-select="img"></div>
    <div class="article-body">
        <div class="article-body-inner">
            <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
        </div>
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="article-body-inner">
            <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
            <div class="alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
        </div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review with quadratic image" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-type="image" data-map="1x1-large landscape-generic-large portrait-generic-large"></div>
    <div class="article-body">
        <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
        <div class="alf-container alf-is-editable header-sans-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
        <div class="alf-font-sans-serif product-details">
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
        </div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>

<div data-map="article-type-review" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-review" data-name="Review 3" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-type="image" data-map="*-large *-generic-large" data-select="img"></div>
    <div class="article-body">
        <div class="article-body-inner">
            <div class="alf-container rating-dice alignleft alf-is-draggable" data-map="rating"></div>
            <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
            <div class="alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
        </div>
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>