<!-- External link template -->
<div data-map="article-template-article-external" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Image on top without excerpt and byline" data-filter-format-name="iphone">
    <div class="alf-container alf-is-draggable top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-external" data-map="url"></div>
    <div class="alf-container alf-is-editable alf-is-draggable header-sans-serif title" data-map="title"></div>
</div>

<!-- Xword -->
<div data-map="article-template-article-external" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-gallery-iphone gallery" data-name="Crossword" data-filter-format-name="iphone">
    <div class="vg-crossword-feature">
        <div class="alf-container alf-is-draggable top-image no-caption" data-map="1x1-small-media-only 3x4-small-media-only 9x16-small-media-only 4x3-small-media-only 16x9-small-media-only 9x10-small-media-only 10x9-small-media-only"></div>
        <div class="vg-crossword-logo alf-is-draggable alf-is-removable"></div>
    </div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-crossword" data-map="url"></div>
    <div class="alf-container alf-is-editable alf-is-draggable header-sans-serif title" data-map="title"></div>
</div>
