<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-comment" data-name="Image on top (kommentar)" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-large *-generic-large" data-select="img"></div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline" data-map="byline"></div>
        <div class="article-body-inner">
            <div class="alf-container author-image" data-map="author-image-small"></div>
        </div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline panorama" data-map="*-large *-slim-large *-generic-large" data-match=".dp-image-size-panorama"></div>
            <div class="alf-container-inline full-width" data-map="*-small *-slim-small *-generic-small" data-match=".dp-float-left, .dp-float-right"></div>
            <div class="alf-container-inline full-width" data-map="*-large *-slim-large *-generic-large"></div>>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>