<div data-map="article" class="alf-template iphone iphone-portrait alf-is-responsive tmpl-image-on-top tmpl-comment" data-name="Image on top (kommentar)" data-filter-format-name="iphone">
    <div class="alf-container top-image" data-map="*-large-media-only *-generic-large-media-only"></div>
    <div class="article-body">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline" data-map="byline"></div>
        <div class="alf-container author-image" data-map="author-image-small"></div>
        <div class="alf-region alf-region-flexible vg-pay">
            <div class="alf-container-inline" data-map="*-small *-slim-small *-generic-small"></div>>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="*-large *-*-large"></div>
</div>