<!-- DAGENS RUTE -->
<div data-map="article-template-article-media-only" class="alf-template tmpl-dagens-rute dagens-rute-dark" data-name="Dagens Rute dark" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin container-dark" data-map="portrait-generic-large portrait-generic-small"></div>
    <div class="frontpage-top-left">
        <div class="alf-container header-sans-serif" data-map="title"></div>
    </div>
</div>

<div data-map="article-template-article-media-only" class="alf-template tmpl-dagens-rute dagens-rute-light" data-name="Dagens Rute light" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-removable alf-is-optional none" data-map="section"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin" data-map="portrait-generic-large portrait-generic-small"></div>
    <div class="frontpage-top-left">
        <div class="alf-container header-sans-serif dark" data-map="title"></div>
    </div>
</div>
<!-- END DAGENS RUTE -->