<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background" data-name="Frontpage with background and excerpt" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-editable header-sans-serif textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article" class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-excerpt-with-background" data-name="Frontpage with background and excerpt" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable alf-font-sans-serif excerpt" data-map="excerpt"></div>
    </div>
</div>

<div data-name="Frontpage with overlay"
    data-map="article"
    class="alf-template tmpl-widescreen-frontpage"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent alf-is-resizable alf-is-draggable-y">
        <div class="alf-container alf-is-editable header-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
        <div class="alf-container alf-is-editable alf-is-removable byline textaligncenter" data-map="byline"></div>
    </div>
</div>

<div data-name="Frontpage with dark overlay"
    data-map="article"
    class="alf-template tmpl-widescreen-frontpage tmpl-widescreen-frontpage-dark-background"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent alf-is-resizable alf-is-draggable-y">
        <div class="alf-container alf-is-editable header-serif light title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable excerpt light textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
        <div class="alf-container alf-is-editable alf-is-removable light byline textaligncenter" data-map="byline"></div>
    </div>
</div>

<div data-map="article" class="alf-template full-width tmpl-gallery tmpl-vertical-images tmpl-widescreen-frontpage-dark-background" data-score="5000" data-name="Vertical images" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="vertical-col-1">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 4x3-large-media-only 9x16-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <div class="vertical-col-2">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 4x3-large-media-only 9x16-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent textaligncenter alf-is-resizable">
        <div class="alf-container alf-is-editable header-sans-serif light title" data-map="title"></div>
        <div class="alf-container alf-is-editable alf-font-sans-serif excerpt light" data-map="excerpt"></div>
        <div class="alf-container alf-is-optional byline none" data-map="byline"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-large 16x9-large 16x9-large-media-only 4x3-large 4x3-large-media-only 10x9-large 15x10-large landscape-generic-large 9x16-large 3x4-large 9x10-large 10x15-large portrait-generic-large landscape-generic-large"></div>
</div>

<div data-map="article-template-article-external" class="alf-template ipad frontpage-1 tmpl-condensed-frontpage-with-background" data-score="100000" data-name="Page with link button" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container alf-is-draggable no-margin" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-optional alf-is-removable header-section" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-optional excerpt light alf-is-draggable alf-is-editable textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-external" data-map="url"></div>
</div>

<div data-map="article-template-article-external" class="alf-template ipad frontpage-1 tmpl-condensed-frontpage-with-background" data-score="100000" data-name="Crossword" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container alf-is-draggable no-margin" data-map="4x3-large-media-only landscape-generic-large"></div>

    <div class="vg-crossword-feature">
        <div class="vg-crossword-logo alf-is-draggable alf-is-removable"></div>
    </div>

    <h2 class="alf-container alf-is-optional alf-is-removable header-section" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-optional excerpt light alf-is-draggable alf-is-editable textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
    <div class="alf-container alf-is-draggable btn-link-wrapper btn-link-wrapper-crossword" data-map="url"></div>
</div>


<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-generic" data-name="Frontpage generic" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container alf-is-editable header-serif title" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 4x3-small-media-only 1x1-small-media-only"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large 1x1-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-small-image" data-name="Frontpage with small image" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2 alf-container alf-is-editable header-serif title" data-map="title"></div>
    <div class="alf-col-1 alf-container excerpt" data-map="excerpt"></div>
    <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-flex no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="3x4-small-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="3x4-large"></div>
</div>

<div data-map="article" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-with-text-only" data-name="Frontpage with text only" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2 article-header-top">
        <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-name="Draggable portrait image"
    data-map="article"
    class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-draggable-portrait-image"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="container-dark no-overflow">
        <div class="alf-container alf-is-draggable-x" data-map="1x1-large-media-only 9x16-large-media-only 3x4-large-media-only"></div>
    </div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable alf-is-resizable alf-is-removable excerpt" data-map="excerpt"></div>
    </div>
</div>

<div data-name="Draggable portrait image (Light)"
    data-map="article"
    class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background tmpl-draggable-portrait-image"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="no-overflow">
        <div class="alf-container alf-is-draggable-x" data-map="1x1-large-media-only 9x16-large-media-only 3x4-large-media-only"></div>
    </div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable alf-is-resizable alf-is-removable excerpt dark" data-map="excerpt"></div>
    </div>
</div>

<!-- End iPad frontpage templates

_____         __
|      |\  |  |  \
|---   | \ |  |   |
|____  |  \|  |__/

-->