<!-- GALLERY TEMPLATES FOR PAGE 1-->
<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery with gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container alf-is-optional none" data-map="excerpt"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery with excerpt" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>

<div data-map="article-template-article-gallery" class="alf-template frontpage-1 tmpl-gallery" data-score="100000" data-name="Gallery with excerpt and gradient" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional none" data-map="byline"></div>
    <div class="alf-container no-margin no-caption" data-map="4x3-large-media-only"></div>
    <div class="fill-bottom-half gradient-light-to-dark"></div>
    <h2 class="alf-container alf-is-removable header-section textaligncenter" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt textaligncenter" data-map="excerpt"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="4x3-large"></div>
</div>

<!-- GALLERY TEMPLATES FOR REMAINING PAGES -->

<div data-map="article article-template-article-gallery" class="alf-template full-width tmpl-gallery tmpl-two-horizontal-images" data-name="Two horizontal images" data-filter-page-pos="!1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional excerpt none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline none" data-map="byline"></div>
    <div class="horizontal-col-1">
        <div class="alf-container alf-flex alf-is-draggable-y" data-map="4x3-large-media-only 16x9-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <div class="horizontal-col-2">
        <div class="alf-container alf-flex alf-is-draggable-y" data-map="4x3-large-media-only 16x9-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-large 16x9-large 4x3-large portrait-generic-large landscape-generic-large"></div>
</div>

<div data-map="article article-template-article-gallery" class="alf-template full-width tmpl-gallery tmpl-vertical-images" data-name="Two vertical images" data-filter-page-pos="!1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional excerpt none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline none" data-map="byline"></div>
    <div class="vertical-col-1">
        <div class="alf-container alf-flex alf-is-draggable-x" data-map="1x1-large-media-only 4x3-large-media-only 9x16-large-media-only 16x9-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <div class="vertical-col-2">
        <div class="alf-container alf-flex alf-is-draggable-x" data-map="1x1-large-media-only 4x3-large-media-only 9x16-large-media-only 16x9-large-media-only 3x4-large-media-only portrait-generic-large-media-only landscape-generic-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-large 16x9-large 9x16-large 4x3-large portrait-generic-large landscape-generic-large"></div>
</div>

<div data-map="article article-template-article-gallery" class="alf-template full-width tmpl-gallery tmpl-four-images" data-score="0" data-name="Four images" data-filter-page-pos="!1" data-filter-format-name="ipad_landscape">
    <div class="alf-container alf-is-optional excerpt none" data-map="excerpt"></div>
    <div class="alf-container alf-is-optional byline none" data-map="byline"></div>
    <div class="grid-col-1">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 16x9-large-media-only 4x3-large-media-only portrait-generic-large-media-only landscape-generic-large-media-only"></div>
    </div>
    <div class="grid-col-2">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 16x9-large-media-only 4x3-large-media-only portrait-generic-large-media-only landscape-generic-large-media-only"></div>
    </div>
    <div class="grid-col-3">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 16x9-large-media-only 4x3-large-media-only portrait-generic-large-media-only landscape-generic-large-media-only"></div>
    </div>
    <div class="grid-col-4">
        <div class="alf-container alf-flex alf-is-draggable" data-map="1x1-large-media-only 16x9-large-media-only 4x3-large-media-only portrait-generic-large-media-only landscape-generic-large-media-only"></div>
    </div>
    <div class="alf-container-fullscreen" data-map="1x1-large 16x9-large 4x3-large portrait-generic-large landscape-generic-large"></div>
</div>
