<!-- START ANMELDELSE -->

<div data-map="article-type-review" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-anmeldelse" data-name="Frontpage Anmeldelse" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container-fullscreen" data-map="16x9-large-media-only 4x3-large-media-only 16x9-large 4x3-large"></div>
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-colspan-1 alignleft">
            <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
            <div class="alf-container rating-dice alignleft" data-map="rating"></div>
            <div class="alignleft alf-font-sans-serif product-details">
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
            </div>
            <div class="clear"></div>
            <div class="alf-container byline" data-map="byline"></div>
        </div>
        <div class="alf-colspan-1 alignright alf-container" data-map="16x9-small-media-only 4x3-small-media-only"></div>
    </div>
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <hr>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article-type-review" class="alf-template alf-grid alf-cols-2 tmpl-frontpage-anmeldelse-quadratic" data-name="Frontpage Anmeldelse Quadratic" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container-fullscreen" data-map="landscape-generic-large portrait-generic-large"></div>
    <div class="alf-col-1">
        <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
        <div class="alf-container rating-dice alignleft" data-map="rating"></div>
        <div class="alignleft alf-font-sans-serif product-details">
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
            <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
        </div>
        <div class="clear"></div>
        <div class="alf-container header-sans-serif title alf-is-editable" data-map="title"></div>
        <div class="alf-container excerpt" data-map="excerpt"></div>
        <div class="alf-container byline" data-map="byline"></div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-container" data-map="landscape-generic-large portrait-generic-large"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>

<div data-map="article-type-review" class="alf-template tmpl-widescreen-frontpage tmpl-frontpage-anmeldelse-2" data-name="Frontpage Anmeldelse - 2" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent alf-is-resizable">
        <div class="rating-box gradient-light-to-dark light alf-style-text-shadow-dark">
            <div class="alf-is-draggable">
                <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
                <div class="alf-container rating-dice alignleft" data-map="rating"></div>
                <div class="alignleft alf-font-sans-serif product-details">
                    <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                    <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                    <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
                </div>
            </div>
        </div>
        <div class="alf-container alf-is-editable alf-is-draggable-y header-serif title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable alf-is-draggable-y excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>

<div data-map="article-type-review" class="alf-template tmpl-widescreen-frontpage-dark-background tmpl-frontpage-anmeldelse-2" data-name="Frontpage Anmeldelse - 2 dark" data-filter-page-pos="1" data-filter-format-name="ipad_landscape">
    <div class="alf-container landscape-slim-large-media-only alf-is-draggable-y" data-map="16x9-large-media-only 4x3-large-media-only landscape-slim-large-media-only landscape-generic-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="content-indent alf-is-resizable">
        <div class="rating-box gradient-light-to-dark light alf-style-text-shadow-dark">
            <div class="alf-is-draggable">
                <div class="alf-container alf-is-optional rating-product-title" data-map="productTitle"></div>
                <div class="alf-container rating-dice alignleft" data-map="rating"></div>
                <div class="alignleft alf-font-sans-serif product-details">
                    <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-1" data-map="productDetail1"></div>
                    <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-2" data-map="productDetail2"></div>
                    <div class="alf-container alf-is-optional rating-product-detail rating-product-detail-3" data-map="productDetail3"></div>
                </div>
            </div>
        </div>
        <div class="alf-container alf-is-editable alf-is-draggable-y header-serif light title textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-editable alf-is-draggable-y light excerpt textaligncenter alf-font-sans-serif" data-map="excerpt"></div>
    </div>
</div>

<!-- END ANMELDELSE -->