<div data-name="Frontpage VG Mener"
    data-map="article-type-editorial"
    class="alf-template alf-grid alf-cols-2 tmpl-frontpage-vg-mener"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container excerpt" data-map="excerpt"></div>
        </div>
        <div class="vg-mener alignright">
            <div class="vg-mener-image"></div>
        </div>
        <hr class="clear">
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 4x3-small-media-only"></div>
    </div>
    <div class="alf-col-1 alf-colspan-2 colophon alf-font-sans-serif">
        <div class="alf-container alf-is-optional byline none alf-col-2" data-map="byline"></div>
        <div class="alf-colspan-1 alignleft">
            <div class="vg-logo-vertical"></div>
            <div class="">
                <p>VG+ utgis av <b>Verdens Gang AS</b><br>
                Telefon: <b>22 00 00 00</b><br>
                Redaksjonssjef: <b>Espen Olsen Langfeldt</b><br>
                Ans. redaktør og adm. direktør: <b>Torry Pedersen</b></p>
            </div>
        </div>
        <div class="alf-colspan-1 alignright">
            <div class="">
                <p>
                Digital redaktør: <b>Ola E. Stenberg</b><br>
                Politisk redaktør: <b>Hanne Skartveit</b><br>
                Redaktør: <b>Helje Solberg</b><br>
                Magasinredaktør: <b>Jane Throndsen</b><br>
                </p>
            </div>
        </div>
    </div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large"></div>
</div>

<div data-name="Frontpage VG Mener"
    data-map="article-type-editorial article-type-comment"
    class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-gradient tmpl-frontpage-vg-mener"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white"></div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt" data-map="excerpt"></div>
    </div>
</div>

<div data-name="Frontpage VG Mener box"
    data-map="article-type-editorial article-type-comment"
    class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background-and-gradient tmpl-frontpage-vg-mener"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section" data-map="section"></h2>
    <div class="alf-is-draggable alf-is-removable vg-mener-image-white with_background"></div>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-editable header-sans-serif" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-editable excerpt" data-map="excerpt"></div>
    </div>
</div>

<div data-name="Frontpage VG Mener with text only"
    data-map="article-type-editorial article-type-comment"
    class="alf-template alf-grid alf-cols-2 tmpl-frontpage-vg-mener-with-text-only"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container excerpt" data-map="excerpt"></div>
        </div>
        <div class="vg-mener alignright">
            <div class="vg-mener-image"></div>
        </div>
        <hr class="clear">
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-col-1 alf-colspan-2 colophon alf-font-sans-serif">
        <div class="alf-container alf-is-optional byline none alf-col-2" data-map="byline"></div>
        <div class="alf-colspan-1 alignleft">
            <div class="vg-logo-vertical"></div>
            <div class="">
                <p>VG+ utgis av <b>Verdens Gang AS</b><br>
                Telefon: <b>22 00 00 00</b><br>
                Redaksjonssjef: <b>Espen Olsen Langfeldt</b><br>
                Ans. redaktør og adm. direktør: <b>Torry Pedersen</b></p>
            </div>
        </div>
        <div class="alf-colspan-1 alignright">
            <div class="">
                <p>
                Digital redaktør: <b>Ola E. Stenberg</b><br>
                Politisk redaktør: <b>Hanne Skartveit</b><br>
                Redaktør: <b>Helje Solberg</b><br>
                Magasinredaktør: <b>Jane Throndsen</b><br>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- END VG MENER -->

<!-- MENINGER WITH AUTHOR IMAGE -->

<div data-name="Frontpage with author image"
    data-map="article"
    class="alf-template alf-grid alf-cols-2 tmpl-frontpage-author-image"
    data-score="1000"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container alf-is-editable excerpt" data-map="excerpt"></div>
        </div>
        <div class="alf-container author-image alignright" data-map="author-image-small"></div>
        <div class="alf-container byline clear" data-map="byline">
            <div class="vg-logo-small"></div>
        </div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-is-resizable no-overflow shadow">
        <div class="alf-container alf-is-draggable-y" data-map="16x9-small-media-only 9x16-small-media-only 4x3-small-media-only 3x4-small-media-only portrait-generic-small-media-only"></div>
    </div>
    <div class="alf-col-2 alf-region alf-flex"></div>
    <div class="alf-container-fullscreen" data-map="16x9-large 4x3-large"></div>
</div>

<div data-name="Frontpage with text only and Author Image"
    data-map="article"
    class="alf-template alf-grid alf-cols-2 tmpl-frontpage-author-image tmpl-frontpage-with-text-only"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alignleft">
            <div class="alf-container header-serif title alf-is-editable" data-map="title"></div>
            <div class="alf-container excerpt" data-map="excerpt"></div>
        </div>
        <div class="alf-container author-image alignright" data-map="author-image-small"></div>
        <div class="alf-container byline clear" data-map="byline">
            <div class="vg-logo-small"></div>
        </div>
    </div>
    <div class="alf-col-1 alf-region alf-flex"></div>
    <div class="alf-col-2 alf-region alf-flex"></div>
</div>
