<div data-name="VG helg frontpage"
    data-map="article"
    class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background white-outline"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section section-ribbon" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-editable header-serif textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-removable alf-is-resizable alf-is-editable excerpt-b textaligncenter" data-map="excerpt"></div>
        <div class="alf-is-draggable vg-snippet-vghelg-arrow alf-is-removable"></div>
        <div class="alf-container alf-is-draggable alf-is-removable alf-is-editable alf-is-removable byline-condensed textaligncenter" data-map="byline"></div>
    </div>
</div>

<div data-name="VG helg frontpage without border"
    data-map="article"
    class="alf-template frontpage-1 tmpl-condensed-frontpage-with-background"
    data-filter-page-pos="1"
    data-filter-format-name="ipad_landscape">
    <div class="alf-container no-margin" data-map="4x3-large-media-only"></div>
    <h2 class="alf-container alf-is-removable header-section section-ribbon section-ribbon-no-edge" data-map="section"></h2>
    <div class="frontpage-top-left">
        <div class="alf-container alf-is-draggable alf-is-resizable alf-is-editable header-serif textaligncenter" data-map="title"></div>
        <div class="alf-container alf-is-draggable alf-is-removable alf-is-resizable alf-is-editable excerpt-b textaligncenter" data-map="excerpt"></div>
        <div class="alf-is-draggable vg-snippet-vghelg-arrow alf-is-removable"></div>
        <div class="alf-container alf-is-draggable alf-is-removable alf-is-editable alf-is-removable byline-condensed textaligncenter" data-map="byline"></div>
    </div>
</div>